%%-*- mode: erlang -*-

{minimum_otp_vsn, "20"}.

{deps, []}.

{profiles, [
    {dev, [
        {erl_opts, [debug_info, warn_missing_spec]}
    ]},
    {test, [
        {erl_opts, [debug_info]}
    ]},
    {prod, [
        {erl_opts, []}
    ]}
]}.

{cover_enabled, true}.

{cover_opts, [verbose]}.

{alias, [{test, [compile, xref, dialyzer, {eunit, "--verbose"}, cover, edoc]}]}.
